CHAIN_ID=11155111
RPC_URL=
AETHER_HOOK_ADDRESS=
TREASURY_ADDRESS=
ROUTER_ADDRESS=
FACTORY_ADDRESS=
POSITION_MANAGER_ADDRESS=
POOL_MANAGER_ADDRESS=
V3_POSITION_MANAGER_ADDRESS=
V3_POSITION_MANAGER_DEPLOYMENT_BLOCK=0
V4_POOL_MANAGER_ADDRESS=
INDEXER_ENABLED=false
INDEXER_BATCH_SIZE=2000
V3_INDEXED_POOL_ADDRESSES=
QUOTE_ENGINE_MODE=auto
TOKEN_LIST_URL=https://tokens.uniswap.org
STORAGE_BUCKET_NAME=
VITE_REOWN_PROJECT_ID=
